@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        @using (Html.BeginForm("Index", "ContactSubplace", FormMethod.Post))
        {<div class="card-body">
                <h4 class="card-title">Alt İletişim Bilgileri Düzenleme Paneli</h4>
                <form class="forms-sample">

                    @Html.HiddenFor(x => x.ContactID)
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />
                    <label>Telefon</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                    <br />
                    <label>Mail</label>
                    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                    <br />
                    <label>Açıklama</label>
                    @Html.TextAreaFor(x => x.Description,8,3, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-outline-primary m-2">Kaydet</button>
                    @Html.ActionLink("İptal", "Index", "Default", null, new { @class = "btn btn-outline-danger" })
                </form>
            </div>
        }
    </div>
</div>

